body {
}

.responsive-tabs {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.off {
    display: none;
}

@media (min-width: 640px) {

    .responsive-tabs {
        display: block;
        margin: 100px auto;
        max-width: 50%;
    }
    .active {
        border: 1px solid blue;
    }
    .off {
    display: none;
}
}